@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family=Passion+One&swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', 'cursive';
    --font3: 'Sriracha', 'cursive';
}

*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
}

header{
    background-color: black;
    font-family: var(--font2);
}

header h1{
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    padding-top: 40px;
}

header p{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

header a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.597);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.478);
}

section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.532);
    text-shadow: 1px 1px 0px black;
    border-radius: 5px;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer p{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}